---
layout: default
---

{% if page.header and page.header.overlay_image %}
  <header class="post-hero topic-hero full-height-hero">
    <div class="post-header-cover">
      <img src="{{ page.header.overlay_image | relative_url }}" alt="{{ page.title }}" loading="lazy" />
      <div class="post-header-overlay container">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.excerpt %}
          <p class="post-subtitle">{{ page.excerpt | strip_html }}</p>
        {% endif %}
          {% if page.header.actions and page.header.actions[0] %}
            {% assign action = page.header.actions[0] %}
            <a class="hero-button" href="{{ action.url }}" {% if action.url contains '.pdf' %}download{% endif %}>{{ action.label }}</a>
          {% endif %}
      </div>
    </div>
  </header>
{% endif %}

<article class="post post-topic container">
  {% unless page.header and page.header.overlay_image %}
    <header class="post-header {% if page.no_card_header %}no-card{% endif %}">
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.excerpt %}
        <p class="post-meta">{{ page.excerpt }}</p>
      {% endif %}
    </header>
  {% endunless %}

  <div class="post-content">
    {{ content }}
  </div>
</article>
